[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
robotframework = "*"
pytest = "*"

[packages]
tornado = "*"

[requires]
python_version = "3.7"
